<div>
   <div style="display: flex; justify-content: flex-start; align-items: flex-start; margin-top: 25px;">
      <app-get-table (procesDataChange)="onProcessDataChange($event)"></app-get-table>
      <app-create-table></app-create-table>
      <button (click)="realizarBusqueda()">Actualizar tabla</button>
   </div>
   <ag-grid-angular class="ag-theme-quartz-dark setup-table-class" [columnDefs]="columnDefs" [rowData]="rowData"
      (gridReady)="onGridReady($event)" style="width: 800px; height: 700px; padding-top: 20px"></ag-grid-angular>
</div>