<div class="container">
  <div class="logo">
    <img src="roulette.svg" alt="logotipo" srcset="" />
  </div>
  <div class="cabecera">
    <app-cabecera />
  </div>
  <div class="menu"></div>
  <p class="mainClock">
    {{ time }}
  </p>
  <div class="body">
    @if (mostrarSala) { @for (k of cantTablesRecived; track $index) {
    <div class="allTable" [style.animation]="animation" [style.background_Color]="background_Color">
      <app-mesa [dato]="mesas[k]" [min]="min"></app-mesa>
      <button (click)="cambiarMostrarMesa(k)">Ver Mesa</button>
    </div>
    } } @else {
    <div class="oneTable">
      <app-mesa [dato]="mesas[tableSelected]" [min]="min"></app-mesa>
      <button (click)="cambiarMostrarMesa(tableSelected)">Ver Sala</button>
    </div>
    }
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
