<div class="container">
  <div class="logo">
    <img src="roulette.svg" alt="logotipo" srcset="" />
  </div>
  <div class="cabecera">
    <app-cabecera />
    <!-- <div class="boton-table">
      <button type="button" (click)="cambiarMostrarMesa()">Mesa</button>
    </div> -->
  </div>
  <div class="menu"></div>
  <p style="display: flex; align-items: center; justify-content: center; font-size: 30px;">{{time}}</p>
  <div class="body">
    <!-- @if(mostrarMesa){ -->
      <app-sala [mesas]="mesas"></app-sala>
    <!-- }@else{
      <app-mesa [dato]="dato" [min]="min"></app-mesa>
    } -->
  </div>
  <div class="footer">
    <app-footer ></app-footer>
  </div>
</div>