<div class="input-container">
  @switch (rolUser) {
  @case (1) {
  Case A.
  }
  @case (2) {
  Case B.
  }
  @case (3) {
  Case C.
  }
  @case (4) {
  Case D.
  }
  @case (5) {
  <app-gen-user-pending />
  }
  @default {
  <form (ngSubmit)="onSubmit()">
    <h2>
      Iniciar sesion
    </h2>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
      <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="Correo electronico" required>
    </div>
    <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" [(ngModel)]="password"
      placeholder="Contraseña" required>
    <button type="button" (click)="showPassword = !showPassword" [style.color]="showPassword ? '#93ff93' : ''">
      <i class="fa fa-eye" aria-hidden="true">ver</i>
    </button>
    <div style="text-align: center;">
      <button type="submit">Iniciar</button>
    </div>
  </form>
  }
  }
</div>