.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background-color: hwb(0 18% 82%);
  padding: 15px;
  border-radius: 10px;
}

h2 {
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}