
<div class="app-sala-container">
    <div class="map-container">
        <div class="map"></div>
    </div>
    <div class="tables-container">
        @if(showTables){
            @for (k of valor; track $index) {
                <app-mesa [dato]="mesas[k]" [min]="min"></app-mesa>
                <button (click)="cambiarMostrarMesa(k)">Ver Mesa</button>
            }
        }@else {
            <app-mesa [dato]="mesas[tableSelect]"></app-mesa>
            <button (click)="cambiarMostrarMesa(tableSelect)">Ver Sala</button>
        }
    </div>
</div>