:root {
  color-scheme: light dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #200122;
  background: -webkit-linear-gradient(left, #6f0000, #200122);
  background: linear-gradient(to right, #6f0000, #200122);
}

html,
body {
  height: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
main {
  overflow: auto;
  min-height: 81.4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
