/*desktops - higher resolution*/
:root {
  color-scheme: light dark;
  background-image: url("../public/5166950.jpg");
  display: flex;
  justify-content: center;
  background-repeat: repeat;
  background-color: #454545;
}

